body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.green {
  color: #00a000;
}

.red {
  color: #a00000;
}

.blue {
  color: #0000a0;
}

.lightgrey {
  color: #d0d0d0;
}

.difficulty.easy {
  color: #2ecc40;
  font-weight: 400;
}

.difficulty.medium {
  color: #ff9800;
  font-weight: 400;
}

.difficulty.hard {
  color: #e53935;
  font-weight: 400;
}